
#main-box {
    height: 80%;
    width: 90%;
    margin-top: 15vh;
}
input {
    position: relative;
    width: 30%;
    transition: 350ms ease-in-out;
    display: block;
    margin: auto;
    margin-top:0;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    text-align: center;
    font-size: var(--font-height);
    background-color: transparent;
    color: white;
}

/* When the input field gets focus, change its width to 100% */
input:hover {
    width: 40%;
}

#title-label {
    position: absolute;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: var(--font-height);
    font-weight: bolder;
}
#username-label, #password-label, #email-label {
    position: relative;
    top: -20vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: var(--font-height-normal);
    transition: 400ms ease-in-out;
}

#username:focus + #username-label, #password:focus + #password-label, #email:focus + #email-label{
    top: -25vh;
    color: var(--red-highlight);
}

#username:focus, #password:focus, #email:focus {
    width: 45%;
    border-bottom: 2px solid var(--red-highlight);
}
.title {
    margin-top: 5%;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: var(--font-height);
}
#btn-confirm {
    position: absolute;
    bottom: 20%;
    right: 15%;
    width: auto;
    height: var(--font-height/2);
    background-color: var(--blackgrey);
    transition: 100ms ease-in-out;
    color: transparent;
    padding: 2vh;
    text-align: center;
    font-size: var(--font-height/2);
    font-weight: bold;
}

#btn-confirm:hover{
    background-color: var(--red-highlight);
    color: white;
}

#btn-log-in {
    position: absolute;
    bottom: 30%;
    right: 15%;
    width: auto;
    height: var(--font-height/2);
    background-color: var(--blackgrey);
    transition: 100ms ease-in-out;
    color: var(--blackblackgrey);
    padding: 2vh;
    text-align: center;
    font-size: var(--font-height/2);
    font-weight: bold;
 
}

#btn-log-in:hover{
    color: white;
}

#btn-confirm:hover ~ #username-label,
#btn-confirm:hover ~ #password-label,
#btn-confirm:hover ~ #email-label {
    top: -40%;
    color: var(--red-highlight);
}
#btn-confirm:hover ~ #username,
#btn-confirm:hover ~ #password,
#btn-confirm:hover ~ #email {
    width: 45%;
    border-bottom: 2px solid var(--red-highlight);
}

#shape-back {
    position: absolute;
    left: -20%;
    width: 150%;
    height: 100%;
    transform: skewX(-20deg);
    background-position: center;
	background-image: url(../../resources/game_page/back/forest_hall.png);
    z-index: 2;
}

#background {
    position: absolute;
    left: 15%;
    top: 0;
	width: 50%;
	height: 100%;
    animation: loadBackground 350ms linear forwards;
    overflow: hidden;
}

#main-box > div, label, input{
    z-index: 2;
}

@keyframes loadBackground {
    0%{
        transform: skewX(20deg) translateX(-5%);
        opacity: 0.0;
    }
    100% {
        transform: skewX(20deg);
        opacity: 1.0;
    }
}
