#combat-box {
    height: 30vw;
    width: 50vw;
    margin-left: 5vw;
    display: inline-block;
   
}

#combat-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#combat-front {
    background-image: url("../../resources/game_page/pageres/infernal_torch.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

#combat-back {
    transform: rotateX(180deg);
}

/*
    768x480
*/

#combat-view {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#user-ui {
    left: 10%;
}

#enemy-ui {
    right: 10%;
}

#ui-view {
    position: absolute;
    top: 75%;
    height: 25%;
    width: 100%;
    display: block;
    background-color: orange;
}

#btn-view {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--blackblackgrey);
    border-top: 3px solid black;
}


#forecast-view {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    background-color: var(--blackblackgrey);
    border-top: 3px solid black;
}

.skill {
    position: relative;
    display: inline-block;
    margin-top: 4%;
    height: 75%;
    aspect-ratio: 1;
    background-color: rebeccapurple;
    background-repeat: no-repeat;
    background-size: cover;
}

#sk0 {
    background-image: url("../../resources/game_page/char/default/skills/icon_smite.png");
}

#sk1 {
    background-image: url("../../resources/game_page/char/default/skills/icon_rally_cry.png");
}

#sk2 {
    background-image: url("../../resources/game_page/char/default/skills/icon_holy_lance.png");
}

#sk3 {
    background-image: url("../../resources/game_page/char/default/skills/icon_heal_words.png");
}

#skill-desc {
    position: relative;
    display: block;
    margin-top: 4%;
    margin-left: 4%;
    height: 75%;
    width: 92%;
    background-color: var(--blackblackgrey);
    outline: 3px solid var(--blackgrey);
    border: 3px solid black;
    
}

.spin {
    transform: scaleX(-1);
}
